@page "/login"
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient HttpClient

<h3>Login</h3>

<div>
    <label for="username">Username:</label>
    <input id="username" type="text" @bind="@Username" />
</div>
<div>
    <label for="password">Password:</label>
    <input id="password" type="password" @bind="@Password" />
</div>

<button @onclick="Login">Login</button>

@code {
    private string Username { get; set; }
    private string Password { get; set; }

    private async Task Login()
    {
        var request = new { username = Username, password = Password };
        var response = await HttpClient.PostAsJsonAsync("http://localhost:5275/login", request);

        if (response.IsSuccessStatusCode)
        {
            var token = await response.Content.ReadAsStringAsync();
            // Save the token to local storage or any other desired storage mechanism
            // Redirect to the dashboard based on user role
            // You can use navigation manager to redirect to different pages
            // For example: NavigationManager.NavigateTo("/dashboard");
        }
        else
        {
            // Handle login failure
        }
    }
}
